@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

section {
  /* Offset for the sticky navbar height */
  scroll-margin-top: 0rem; 
}

@theme inline {

  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {


  font-family: Arial, Helvetica, sans-serif;
}
